*{
    font-family: 'Helvetica', sans-serif;
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; 
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section{
    padding: 2rem 9%;
}

body {
    overflow-x: hidden;
}

/* button */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    background: black;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    background: #367E18;
    color: white;
}

/* home section css */
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home__content{
    max-width: 50rem;
}

.home__content h3{
    font-size: 7rem;
    color: #333;
}

.home__content span{
    font-size: 3.5rem;
    color: green;
    padding: 1rem 0;
    line-height: 1.5;
}

.home__content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.home{
    background-position: left;
}

/* features section */
.features__heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: black;
}

.features__heading span{
    background: #367E18;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.features__box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.features__box{
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 25rem;
    padding: 2rem;
    text-align: center;
}

.features__box img{
    width: 20rem;
    margin: .5rem 0;
}

.features__box h3{
    font-size: 3.5rem;
    color: black;
}

.features__box p{
    font-size: 2rem;
    color: #666;
    padding: .5rem 0;
}

/* about section */
.about__row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about__content{
    flex: 1 1 55rem;
}

.about__box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}

.about__box{
    flex: 1 1 20rem;
}

.about__box p{
    font-size: 1.7rem;
    color: #222;
    padding: .5rem 0;
    line-height: 2;
}

.about__box span{
    color: #367E18;
}

.about__image{
    text-align: center;
    flex: 1 1 25rem;
}

.about__image img{
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about__info{
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}

.about__btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
}

.about__btn:hover{
    background: #367E18;
    letter-spacing: .2rem;
}

/* menu section */
.menu__sub-heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: black;
}

.menu__sub-heading span{
    background: #367E18;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.menu__box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu__box{
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
}

.menu__image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu__image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}

.menu__content{
    padding: 2rem;
    padding-top: 0;
}

.menu__stars{
    padding-bottom: 1rem;
}

.menu__content h3{
    color: black;
    font-size: 2.5rem;
}

.menu__content p{
    color: grey;
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.menu__btn{
    margin-left: 45rem;
    margin-top: 1.5rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
}

.menu__btn:hover{
    background: #367E18;
    letter-spacing: .2rem;
}

/* home-2 section */
.home-2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home-2__content{
    flex: 1 1 40rem;
}

.home-2__image{
    flex: 1 1 40rem;
}

.home-2__image img{
    width: 100%;
}

.home-2__content h3{
    font-size: 7rem;
    color: #333;
}

.home-2__content span{
    font-size: 3.5rem;
    color: green;
    padding: 1rem 0;
    line-height: 1.5;
}

.home-2__content p{
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.home-2__btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
}

.home-2__btn:hover{
    background: #367E18;
    letter-spacing: .2rem;
}

/* slider section */
.featured__box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    text-align: center;
}

.featured__box:hover {
    border-color: #367E18;
}

.featured__image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured__image img {
    height: 25rem;
}

.featured__content {
    background: #eee;
    padding: 1.5rem;
}

.featured__title {
    font-size: 2rem;
    color: black;
}

.featured__price {
    font-size: 2.2rem;
    color: black;
}

.featured__price span {
    font-size: 1.5rem;
    color: black;
    padding-top: 1rem;
    text-decoration: line-through;
}

/* cards section */
.cards__box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.cards__box{
    height: 25rem;
    flex: 1 1 30rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}

.cards__box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards__content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.cards__content h3{
    font-size: 2.5rem;
    color: #333;
}

.cards__content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.cards__box:hover .cards__content{
    top: 0;
}

/* video */
.video__box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.video__box{
    flex: 1 1 25rem;
    height: 25rem;
}

/* footer section */
.footer{
    background-color: #fff;
}

.footer__box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer__box{
    flex: 1 1 22rem;
}

.footer__box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer__box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.footer__box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer__box a:hover{
    text-decoration: underline;
    color: #367E18;
}

.footer__credit{
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-top: .1rem solid rgba(0,0,0,.1);
    text-align: center;
    font-weight: normal;
}

.footer__credit span{
    color: #367E18;
}

.footer__email{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    width: 61%;
}

.footer__btn{
    margin: 0;
    padding: 0.7rem;
}

/* media queries */
@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    .home__content h3{
        font-size: 5rem;
    }

    .home__content span{
        font-size: 2.5rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
}
